<h3>Diary Show Page</h3>


<%= render 'edit' %>

<div id="hiddenForm">
	<%= render 'new' %>
</div>

<div id='three_digit'></div>
<div id='four_digit'></div>
<div id='mega'></div>

<div id = "container1">
	<div class="num_label" id="zeros"></div>
	<div class="num_label" id="ones"></div>
	<div class="num_label" id="twos"></div>
	<div class="num_label" id="threes"></div>
	<div class="num_label" id="fours"></div>
	<div class="num_label" id="fives"></div>
	<div class="num_label" id="sixes"></div>
	<div class="num_label" id ="sevens"></div>
	<div class="num_label" id="eights"></div>
	<div class="num_label" id="nines"></div>
</div>

<input id="pick3" type="submit" value="Pick 3">
<input id="pick4" type="submit" value="Pick 4">
<input id="mTick" type="submit" value="Mega Lott.">

<% @user.three_digit_draws.uniq.each do |t| %>
	<% if t.pick_three == @user.state.three_digit %>
	<% @matches << t.pick_three %>
		<% end %>
	<% end %>

<%= @matches %>




<script src="/assets/diary_show.js"></script>


