<div id='state_index_heading'>
	
<p>Your quick picks form is very easy to use.  You enter numbers into the fields and then press the update button.  Once you see percetages in your quick picks generator, then you are good to go.  If the probability percentages are ever missing from the quick picks generator, simply hit the update button at the bottom of the form.</p>

<p>Your form can be found beneath your quick picks generator.  Feel free to go in and change it by deleting numbers or adding numbers at anytime, but make sure to hit the update button after you do.  All fields do not have to be filled in, they can be left blank.  The only rule is to write numbers only in the form or it will corrupt the numbers you draw from your quick picks generator.
</p>

<p>To give you a quick view of how the quick pick works, go to your form and delete all numbers in all fields.  Once it is blank, enter 0123456789 into any of the fields and press update.  Now, look at the generator and you will see that all digits have a 10% chance to be drawn when generating a lottery number.  Go back to your form and spam any field with 44444444444 then hit update.  The the probability of a 4 being drawn in your quick picks just sky rocketed.</p>

<p>
	
If you want the quick pick generator to draw from the numbers that surround you in life then you can use it that way, or if you want to set the quick pick probabilities to have certain digits appear more than others you can do that, or if you want to play it straight up and give each digit the same probabiity of being drawn then you can do that as well.

Good Luck.

</p>

</div>


