<h3>Lottery Results for <%= @state.name %></h3>

<div id="threeResult"><%= @state.three_digit %></div>
<div id="fourResult"><%= @state.four_digit %></div>

<% if current_user.admin == true %>
	<%= render 'edit' %>
	<% end %>