.devise_form{
	background-color: rgba(225,225,225, 0.7);
	width:20%;
	margin-left: 500px;
	padding: 1%;
	// border-radius: 2px;
	margin-top: 200px;
}

#select_state{
	height: 20px;
	width: 100px;
	
}

.field{
	height: 50px;
	width: 250px;
	margin-top: 50px;
	margin-bottom: 50px;
}

	

.first_ten{
	height: 65px;
	width: 67%;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 27px;
	
}

#state_keys_label{
	height: 50px;
	width: 200px;
	text-align: bottom;
	font-size: 27px;
	margin-top: 10px;
}

.the_welcome{
	width: 100%;
	height: 100px;
	font-size: 27px;
}

#login_form{
  height: 200px;
  width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  font-size: 30px;
}

#login_heading{
	height: 80px;
	width: 300px;
	font-size: 33px;
	display: block;
	text-align: center;
	margin-left: 490px;
	margin-bottom: 10px;
}

#devise_links{
	height: 100px;
	width: 300px;
	font-size: 27px;
	margin-left: 275px;
	margin-top: -25px;
}

.actions{
	height: 100px;
	width: 100px;
	font-size: 22px;
	margin-left: 80px;
	margin-top: -70px;
}
.devise_edit_form{
  height: 200px;
  width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  font-size: 22px;
}
.update_action{
	height: 30px;
	width: 80px;
	margin-left: 80px;
}

#edit_back{
	height: 100px;
	width: 100px;
	font-size: 25px;
	margin-top: 450px;
	margin-left: 580px;
	text-align: center;

}

#edit_heading{
	height: 80px;
	width: 300px;
	font-size: 33px;
	display: block;
	text-align: center;
	margin-left: 490px;
	margin-bottom: 10px;

}

@media only screen and (max-width: 1100px){

	.the_welcome{

		width: 30%;
		height: 50%;
		font-size: 13px;
		overflow: none;


	}

	#intro_pix{

		margin-top: 0px;
		height: 450px;
	}

	.devise_form{
		background-color: rgba(225,225,225, 0.7);
		width:200px;
		margin-left: 0px;
		margin-top: 10px;
	}

	#login_heading{

		margin-left: 140px;
	}

	#login_form{
	  height: 340px;
	  width: 200px;
	  text-align: left;
	  margin: auto;
	  margin-top: 0px;
	  font-size: 15px;
	}

	.actions{

		height: 50px;
		width: 80px;
		margin-top: -30px;
		font-size: 20px;
		margin-left: 50px;
	}

	#login_submit{

		font-size: 20px;
	}


}