// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





#new_form{
	height: 400px;
	width: 400px;
	border: 1px solid red;
	margin: auto;
}



#hiddenForm{
	visibility: hidden;
}