// Place all the styles related to the states controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.state_abbr{
	height: 50px;
	width: 78px;
	font-size: 23px;
	display: inline-block;
	margin-left: 1px;
}
