// Place all the styles related to the states controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.state_abbr{
	height: 50px;
	width: 78px;
	font-size: 23px;
	display: inline-block;
	margin-left: 1px;
}

#state_show{
	height: 200px;
	width: 200px;
	font-size: 22px;
	margin-top: 50px;
}

#state_results{
	height: 300px;
	width: 550px;
	font-size: 45px;
	margin: auto;
	margin-top: 200px;
	text-align: center;
}

#state_index_heading{

	height: 50px;
	width: 300px;
	font-size: 23px;
	display: inline-block;
	margin-left: 1px;

}
