// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.draw_totals{
	height: 100px;
	width: 300px;
	display: inline-block;
	font-size: 30px;
	margin-left: 130px;
	text-align: center;

}

#user_show_greet{
	height: 80px;
	width: 200px;
	margin: auto;
	font-size: 25px;
}

#proflinks{
	height: 100px;
	width: 400px;
	font-size: 27px;
	margin-left: 547px;
	margin-top: 20px;
}